In [11]:
import numpy as np
import pandas as pd

In [17]:
idx_df = pd.read_csv('/Users/kinam/git/obds_sep2022/Python_W2/exercise1_idxstats.tsv', sep='\t', header = None) # Read a tsv file

In [18]:
idx_df.head()

      0          1        2      3
0  chrM      16571      226      2
1  chr1  249250621  1202908  11586
2  chr2  243199373  1179409  11950
3  chr3  198022430   956939   7894
4  chr4  191154276   841065   8496

In [19]:
!pwd

/Users/kinam

In [23]:
idx_df.columns = ['Sequence name', 'Sequence length', 'Mapped segments', 'Unmapped segments']

In [24]:
idx_df.head()

  Sequence name  Sequence length  Mapped segments  Unmapped segments
0          chrM            16571              226                  2
1          chr1        249250621          1202908              11586
2          chr2        243199373          1179409              11950
3          chr3        198022430           956939               7894
4          chr4        191154276           841065               8496

In [25]:
idx_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sequence name      26 non-null     object
 1   Sequence length    26 non-null     int64
 2   Mapped segments    26 non-null     int64
 3   Unmapped segments  26 non-null     int64
dtypes: int64(3), object(1)
memory usage: 960.0+ bytes

In [26]:
idx_df.describe()

       Sequence length  Mapped segments  Unmapped segments
count     2.600000e+01     2.600000e+01       2.600000e+01
mean      1.190652e+08     5.602201e+05       5.106119e+04
std       6.568174e+07     3.330361e+05       2.292555e+05
min       0.000000e+00     0.000000e+00       2.000000e+00
25%       6.678845e+07     3.426832e+05       4.109500e+03
50%       1.245109e+08     5.281825e+05       6.406000e+03
75%       1.581716e+08     8.117202e+05       7.852500e+03
max       2.492506e+08     1.202908e+06       1.174990e+06

In [29]:
idx_df.shape

(26, 4)

In [30]:
idx_df.index

RangeIndex(start=0, stop=26, step=1)

In [31]:
idx_df2 = idx_df.iloc[5:11,]

In [32]:
idx_df2.head()

  Sequence name  Sequence length  Mapped segments  Unmapped segments
5          chr5        180915260           839376               7313
6          chr6        171115067           851357               6930
7          chr7        159138663           639203               7728
8          chr8        146364022           951606               8874
9          chr9        141213431           603020               6937

In [33]:
idx_df2.shape

(6, 4)

In [48]:
chr_mapped = idx_df[["Sequence name", "Mapped segments"]]

In [49]:
chr_mapped.head()

  Sequence name  Mapped segments
0          chrM              226
1          chr1          1202908
2          chr2          1179409
3          chr3           956939
4          chr4           841065

In [50]:
chr_mapped_2 = idx_df.iloc[:,[0,2]] #Indexing with iloc or loc

In [51]:
chr_mapped_2.head()

  Sequence name  Mapped segments
0          chrM              226
1          chr1          1202908
2          chr2          1179409
3          chr3           956939
4          chr4           841065

In [53]:
chr_mapped.to_csv('mapped_reads_per_chr.tsv', sep='\t')

In [82]:
idx_df['reads_per_base'] = idx_df.iloc[:, 2]/idx_df.iloc[:, 1]

In [83]:
idx_df.head()

,Sequence name,Sequence length,Mapped segments,Unmapped segments,length_Mbs,reads_per_base
0,chrM,16571,226,2,0.016571,0.013638
1,chr1,249250621,1202908,11586,249.250621,0.004826
2,chr2,243199373,1179409,11950,243.199373,0.004850
3,chr3,198022430,956939,7894,198.022430,0.004832
4,chr4,191154276,841065,8496,191.154276,0.004400

In [84]:
idx_df['length_Mbs'] = idx_df.iloc[:, 1]/1000000

In [85]:
idx_df.head()

,Sequence name,Sequence length,Mapped segments,Unmapped segments,length_Mbs,reads_per_base
0,chrM,16571,226,2,0.016571,0.013638
1,chr1,249250621,1202908,11586,249.250621,0.004826
2,chr2,243199373,1179409,11950,243.199373,0.004850
3,chr3,198022430,956939,7894,198.022430,0.004832
4,chr4,191154276,841065,8496,191.154276,0.004400

In [86]:
cond1 = (idx_df['reads_per_base'] > 0.005) & (idx_df['length_Mbs'] < 100)

In [87]:
idx_df_2 = idx_df[cond1]

In [88]:
idx_df_2.head()

,Sequence name,Sequence length,Mapped segments,Unmapped segments,length_Mbs,reads_per_base
0,chrM,16571,226,2,0.016571,0.013638
16,chr16,90354753,483073,5439,90.354753,0.005346
17,chr17,81195210,532624,5339,81.195210,0.006560
19,chr19,59128983,407712,5882,59.128983,0.006895
20,chr20,63025520,321007,3280,63.025520,0.005093

In [89]:
idx_df_2.index

Int64Index([0, 16, 17, 19, 20], dtype='int64')

In [90]:
idx_df_2.shape

(5, 6)

In [78]:
cond1

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17     True
18    False
19     True
20     True
21    False
22    False
23    False
24    False
25    False
dtype: bool

In [91]:
idx_df_3 = idx_df.drop('reads_per_base', axis = 1)

In [92]:
idx_df_3.head()

,Sequence name,Sequence length,Mapped segments,Unmapped segments,length_Mbs
0,chrM,16571,226,2,0.016571
1,chr1,249250621,1202908,11586,249.250621
2,chr2,243199373,1179409,11950,243.199373
3,chr3,198022430,956939,7894,198.022430
4,chr4,191154276,841065,8496,191.154276

In [93]:
idx_df_3.shape

(26, 5)

In [102]:
idx_df.query("reads_per_base > 0.005 & length_Mbs < 100")

,Sequence name,Sequence length,Mapped segments,Unmapped segments,length_Mbs,reads_per_base
0,chrM,16571,226,2,0.016571,0.013638
16,chr16,90354753,483073,5439,90.354753,0.005346
17,chr17,81195210,532624,5339,81.195210,0.006560
19,chr19,59128983,407712,5882,59.128983,0.006895
20,chr20,63025520,321007,3280,63.025520,0.005093

In [103]:
idx_df.shape

(26, 6)

In [104]:
idx_df.query("`Sequence name` == 'chrM' & length_Mbs < 100")

,Sequence name,Sequence length,Mapped segments,Unmapped segments,length_Mbs,reads_per_base
0,chrM,16571,226,2,0.016571,0.013638

In [ ]:
type(idx_df)

idx_df.query("`Sequence name` == '@chr_name' & length_Mbs < 100")